section#onze-partners ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:.5rem;
    list-style:none;
    margin:0;
}
section#onze-partners ul li {
    margin-bottom: 0;
}
section#onze-partners ul a {
    display:block;
    background-color:rgba(0,0,0,.1);
    vertical-align: baseline;
    border-radius: var(--rounded);
    display: flex;
    padding:.5rem 0;
}
